<div class="installment-notification">
  <svg id="icon-installment" data-name="Icon installment" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 548.18 438.53">
    <title>icon-installment</title>
    <path d="M534.75,68.24A43.94,43.94,0,0,0,502.5,54.82H45.68A44,44,0,0,0,13.42,68.24,44,44,0,0,0,0,100.5V447.67a44,44,0,0,0,13.42,32.27,44,44,0,0,0,32.26,13.42H502.5a45.84,45.84,0,0,0,45.68-45.69V100.5A44,44,0,0,0,534.75,68.24ZM511.63,447.68a9.24,9.24,0,0,1-9.13,9.13H45.68a9.26,9.26,0,0,1-9.13-9.14V274.09H511.63V447.68Zm0-283.23H36.54V100.5a9.27,9.27,0,0,1,9.14-9.14H502.49a9.25,9.25,0,0,1,9.14,9.14v63.95Z" transform="translate(0 -54.82)" />
    <rect x="73.09" y="328.9" width="73.09" height="36.55" />
    <rect x="182.73" y="328.9" width="109.63" height="36.55" />
  </svg>
  {%- assign divider = 6 -%}
  {{ divider }} {{ 'general.installments.times_by' | t }} {{ installment-notification | divided_by: divider | money }} {{ 'general.installments.without_interest' | t }}
</div>